{% include "base.html" %}
<center>
<div style="max-width: 800px;">

    <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Search" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      </label>

<div class="card card-side bg-base-100 shadow-xl mt-2 mb-2">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">New movie is released!</h2>
      <p>Click the button to View on Jetflix app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
<div class="card card-side bg-base-100 shadow-xl mt-2 mb-2">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">New movie is released!</h2>
      <p>Click the button to View on Jetflix app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
<div class="card card-side bg-base-100 shadow-xl mt-2 mb-2">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">New movie is released!</h2>
      <p>Click the button to View on Jetflix app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
<div class="card card-side bg-base-100 shadow-xl mt-2 mb-2">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">New movie is released!</h2>
      <p>Click the button to View on Jetflix app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
  <!-- pagination -->
  <div class="join mt-2 mb-2">
    <button class="join-item btn">«</button>
    <button class="join-item btn">Page 22</button>
    <button class="join-item btn">»</button>
  </div>
</div>
</center>
{% include "footer.html" %}
