{% include "base.html" %}
{% load static %}
<script src="{% static 'cities.js' %}"></script>

<center>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div style="max-width: 600px;">
<div class="avatar my-2">
  <div class="w-24 rounded-full">
    
    <img
      {% if data.profile_photo %}
        src="{{ data.profile_photo.url }}"
      {% else %}
        src="/static/images.png"
      {% endif %}
      alt="Profile Photo"
      />
      
    <!-- <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" /> -->
  </div>
</div>
<br>
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Change Profile Photo</span>
  </div>
<input name="profile_photo" type="file"  class="file-input w-full max-w-xs my-2" />
</label>

<!-- Bio/Discription -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">About</span>
  </div>
<textarea name="bio" value="{{ data.bio }}" class="textarea textarea-bordered textarea-lg w-full max-w-xs my-2" placeholder="About">{{ data.bio }}</textarea>
</label>

<!-- School -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">College/Degree</span>
  </div>
  <input name="education" type="text" value="{{ data.education }}" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- state -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">State</span>
  </div>
  <input name="state" type="text" value="{{ data.state }}" readonly placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- city -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">State</span>
  </div>
  <input name="city" type="text" value="{{ data.city }}" readonly placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- GitHub -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">GitHub Link:</span>
  </div>
  <input name="github" type="text" placeholder="Type here" value="{{ data.github }}" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- Linkdin -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Linkdin Link:</span>
  </div>
  <input name="linkdin" type="text" placeholder="Type here" value="{{ data.linkdin }}" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- Skills -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Skills</span>
  </div>
<textarea name="skills"  class="textarea textarea-bordered textarea-sm w-full max-w-xs my-2" placeholder="Skills">{{ data.skills }}</textarea>
</label>

<h1 class="mt-4 text-xl">Experience</h1>

<!-- Experience -->
<ul class="timeline timeline-vertical">
  {% for exp in exp %}
  <li>
    <div class="timeline-start">{{exp.from_date}}</div>
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="timeline-end timeline-box">{{ exp.organization }}</div>
    <hr />
  </li>
  {% endfor %}
</ul>
<br>

<div
  title="Add New"
  class="group cursor-pointer outline-none hover:rotate-90 duration-300"
  onclick="my_modal_1.showModal()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="50px"
    height="50px"
    viewBox="0 0 24 24"
    class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300"
  >
    <path
      d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
      stroke-width="1.5"
    ></path>
    <path d="M8 12H16" stroke-width="1.5"></path>
    <path d="M12 16V8" stroke-width="1.5"></path>
  </svg>
</div>

<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">job type</span>
      </div>
    <select name="job_type" class="select select-bordered w-full max-w-xs">
      <option disabled selected>job type?</option>
      <option value="internship">Internship</option>
      <option value="full_time">Full Time</option>
      <option value="part_time">Part Time</option>
    </select>
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">from</span>
      </div>
    <input type="date" name="from_date" placeholder="Type here" class="input w-full max-w-xs" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">to</span>
      </div>
    <input type="date" name="to_date"  placeholder="Type here" class="input w-full max-w-xs" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Company</span>
      </div>
    <input type="text" name="organization"  placeholder="Type here" class="input w-full max-w-xs" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">job role</span>
      </div>
    <input type="text" name="job_role" placeholder="Type here" class="input w-full max-w-xs" />
    </label>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <p class="py-4">ESC key to cancel</p>
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</dialog>
<br>
<!-- update -->
<button class="btn btn-wide my-2" type="submit">Update</button>
</form>
</center>

{% include "footer.html" %}
