{% include "base.html" %}
{% load static %}
<script src="{% static 'cities.js' %}"></script>

<center>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div style="max-width: 500px;">
<div class="avatar my-2">
  <div class="w-24 rounded-full">
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
  </div>
</div>
<br>
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Profile Photo</span>
  </div>
<input name="profile_photo" type="file" class="file-input w-full max-w-xs my-2" />
</label>

<!-- Bio/Discription -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Bio</span>
  </div>
<textarea name="bio" class="textarea textarea-bordered textarea-lg w-full max-w-xs my-2" placeholder="Bio"></textarea>
</label>

<!-- School -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">College/Degree</span>
  </div>
  <input name="education" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- state -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Select state</span>
  </div>
<select name="state" class="select select-bordered my-2" onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
</label>

<!-- city -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Select city</span>
  </div>
<select name="city" class="select select-bordered my-2" id ="state" class="form-control" required></select>
</label>
<script language="javascript">print_state("sts");</script>
</div>

<!-- GitHub -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">GitHub Link:</span>
  </div>
  <input name="github" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- Linkdin -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Linkdin Link:</span>
  </div>
  <input name="linkdin" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>

<!-- Skills -->
<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Skills</span>
  </div>
<textarea name="skills" class="textarea textarea-bordered textarea-sm w-full max-w-xs my-2" placeholder="Skills"></textarea>
</label>


<!-- update -->

<button class="btn btn-wide my-2" type="submit">Update</button>
</form>
</center>

{% include "footer.html" %}
